/* Outer container div style */
.order-container {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading style */
  .order-heading {
    color: blue;
  }
  
  /* Styling for pizza list */
  .pizza-list {
    list-style-type: none;
    padding-left: 0;
  }
  