/* product.css */

/* product.css */

.hover-card {
    position: relative;
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .hover-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .hover-card:hover::before {
    opacity: 1;
  }
  