
.navbar {
    background-color: 	#E6E6FA;
    padding: 5px 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  /* Navbar Toggle Button */
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-color: 	#E6E6FA;
  }
  
  /* Navbar Text */
  .navbar-text {
    color: #5d6e75;
  }
  
  .navbar-text a {
    color: #333;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .navbar-text a:hover {
    text-decoration: underline;
  }
  .logo-text {
    font-size: 18px;
    font-weight: bold;
  }
  